<div class="text-layout">
  <h1>DecimalPipe (number) y Porcentaje</h1>
  <p>Pipes incluídos en Angular - Usualmente en el Common Module.</p>
</div>

<div class="grid">
  <div class="col-4">
    <p-card header="Ventas Netas" subheader="Presente año">
      <h4>Parametro: digitsInfo</h4>
      <p>{{ netSales | number: "1.2-2" }}</p>
      <!-- TODO: Ver https://angular.io/api/common/DecimalPipe#digitsinfo -->
      <br />
      <hr />
      <br />
      <h4>Parametro: locale</h4>
      <p>{{ netSales | number: "":"es-HN" }} En Honduras</p>
      <p>{{ netSales | number: "":"es-CO" }} En Colombia</p>
      <p>{{ netSales | number: "":"fr" }} En Frances</p>
    </p-card>
  </div>
</div>
