<div class="text-layout m-3">
  <h1>Pipes Personalizados</h1>
  <p>Pipes hechos propiamente [following the course :) ]</p>
  <p>
    Ejemplo con word: ({{ '"word"' | customUppercase: isInUppercase }})
    <button
      pButton
      label="Toggle Mayúsculas"
      icon="pi pi-sync"
      (click)="toggleUppercase()"
      class="p-button-sm p-button-help"
    ></button>
  </p>
</div>
<p-toolbar>
  <div class="p-toolbar-group-left"></div>
  <div class="p-toolbar-group-right">
    <!-- Toggle uppercase -->
    <p-button
      label="Toggle Mayúsculas"
      icon="pi pi-sync"
      (click)="toggleUppercase()"
      styleClass="p-button-info mr-1"
    ></p-button>
    <!-- By default -->
    <p-button
      icon="pi pi-sort"
      label="Default"
      styleClass="p-button-help mr-1"
      (onClick)="changeSorting('default')"
    ></p-button>
    <!-- By name -->
    <p-button
      icon="pi pi-sort"
      label="Por nombre"
      styleClass="p-button-warning mr-1"
      (onClick)="changeSorting('name')"
    ></p-button>
    <!-- By flies -->
    <p-button
      icon="pi pi-sort"
      label="Vuela"
      styleClass="p-button-succes mr-1"
      (onClick)="changeSorting('flies')"
    ></p-button>
    <!-- By color -->
    <p-button
      icon="pi pi-sort"
      label="Por color"
      styleClass="p-button-danger mr-1"
      (onClick)="changeSorting('color')"
    ></p-button>
  </div>
</p-toolbar>

<p-table
  [value]="heroes | sort: sortBy"
  responsiveLayout="scroll"
  styleClass="mt-2"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Nombre</th>
      <th>Vuela</th>
      <th>Color</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-hero>
    <tr>
      <td>{{ hero.name }}</td>
      <td>{{ hero.flies | flies | titlecase }}</td>
      <td>{{ hero.color }}</td>
    </tr>
  </ng-template>
</p-table>
<p-table
  [value]="heroes | slice: 0"
  responsiveLayout="scroll"
  styleClass="mt-2"
>
  <!-- Copy of heroes with slice pipe -->
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="name">
        Nombre<p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="flies">
        Vuela<p-sortIcon field="flies"></p-sortIcon>
      </th>
      <th pSortableColumn="color">
        Color<p-sortIcon field="color"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-hero>
    <tr>
      <td>{{ hero.name }}</td>
      <td>{{ hero.flies | flies | titlecase }}</td>
      <td>{{ hero.color }}</td>
    </tr>
  </ng-template>
</p-table>
