<div class="text-layout m-3">
  <h1>DecimalPipe (number) y Porcentaje</h1>
  <p>Pipes incluídos en Angular - Usualmente en el Common Module.</p>
</div>
<div class="grid">
  <div class="col md:col-6">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true">
      Saludos {{ name }}, es un placer
      {{ gender | i18nSelect: genderMap }}
      a nuestro evento.
      <button
        pButton
        type="button"
        icon="pi pi-sync"
        class="p-button-sm p-button-rounded"
        (click)="changeName()"
      ></button>
    </p-fieldset>
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      <p>Content</p>
    </p-fieldset>
  </div>
</div>
