<div class="text-layout">
  <h1>Hola mundo</h1>
  <h2>{{ 1000 | number }}</h2>
  <h2>{{ name | titlecase }}</h2>
</div>
<button
  pButton
  label="Cambiar nombre"
  icon="pi pi-step-backward-alt"
  iconPos="right"
  class="p-button-help"
  (click)="changeName()"
></button>
<!-- <p-card header="Hola">Content</p-card> -->
<p-card
  [header]="name | titlecase"
  subheader="My subheader"
  [style]="{ margin: '10px', width: '25rem' }"
>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus dolorum,
    culpa distinctio cum dolore modi sunt, sint, aliquid mollitia quibusdam
    suscipit praesentium ducimus reprehenderit voluptatem ipsa maiores eaque
    possimus voluptatibus.
  </p>
</p-card>
