<div class="text-layout">
  <h1>Pipes Básicos</h1>
  <p>Pipes incluídos en Angular-Usualmente en el Common Module.</p>
</div>
<div class="flex">
  <div class="col-4">
    <p-card header="uppercase" [subheader]="nameInLower">
      ➡ {{ nameInLower | uppercase }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="lowercase" [subheader]="nameInUpper">
      ➡ {{ nameInUpper | lowercase }}
    </p-card>
  </div>
  <div class="col-4">
    <p-card header="titlecase" [subheader]="completeName">
      ➡ {{ completeName | titlecase }}
    </p-card>
  </div>
</div>
