:is(*, *::before, *::after) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-family);
}

body {
  margin: 20px;
  background-color: var(--surface-b)
}

.text-layout {
  color: var(--text-color)
}